/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ngx-toastr/toastr";

.custom-toast-top {
  top: 10px !important; /* Adjust top margin */
  right: 50% !important; /* Center horizontally */
  bottom: auto !important;
  transform: translateX(50%); /* Center alignment */
}
