<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">Expenses</h2>

  <!-- Add Expense Button -->
  <button
    class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 mb-4"
    (click)="showAddExpenseForm = !showAddExpenseForm"
  >
    {{ showAddExpenseForm ? "Close Add Form" : "Add Expense" }}
  </button>

  <!-- Add Expense Form -->
  <div
    *ngIf="showAddExpenseForm"
    class="bg-white p-6 rounded-lg shadow-lg mb-6"
  >
    <h3 class="text-lg font-medium text-gray-700 mb-4">Add New Expense</h3>

    <form (ngSubmit)="addExpense()" #expenseForm="ngForm" class="space-y-4">
      <div>
        <label for="budget" class="block text-gray-700">Budget</label>
        <select
          id="budget"
          class="w-full p-2 border rounded mt-1"
          [(ngModel)]="newExpense.budgetId"
          name="budget"
          required
        >
          <option *ngFor="let budget of budgets" [value]="budget.id">
            {{ budget.id }} -{{ budget.description }}-
            {{ budget.monthlyLimit | currency }}
          </option>
        </select>
      </div>
      <div>
        <label for="description" class="block text-gray-700">Description</label>
        <input
          type="text"
          id="description"
          class="w-full p-2 border rounded mt-1"
          [(ngModel)]="newExpense.description"
          name="description"
          required
        />
      </div>

      <div>
        <label for="amount" class="block text-gray-700">Amount</label>
        <input
          type="number"
          id="amount"
          class="w-full p-2 border rounded mt-1"
          [(ngModel)]="newExpense.amount"
          name="amount"
          required
        />
      </div>

      <div>
        <label for="date" class="block text-gray-700">Date</label>
        <input
          type="date"
          id="date"
          class="w-full p-2 border rounded mt-1"
          [(ngModel)]="newExpense.date"
          name="date"
          required
        />
      </div>

      <div>
        <label for="category" class="block text-gray-700">Category</label>
        <input
          type="text"
          id="category"
          class="w-full p-2 border rounded mt-1"
          [(ngModel)]="newExpense.category"
          name="category"
          required
        />
      </div>

      <button
        type="submit"
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
      >
        Submit
      </button>
    </form>
  </div>

  <!-- Expenses Table -->
  <table class="min-w-full border-collapse">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm">
        <th class="py-3 px-4 text-left">ID</th>
        <th class="py-3 px-4 text-left">Description</th>
        <th class="py-3 px-4 text-left">Amount</th>
        <th class="py-3 px-4 text-left">Date</th>
        <th class="py-3 px-4 text-left">Category</th>
        <th class="py-3 px-4 text-left">Budget Id</th>
        <th class="py-3 px-4 text-left">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses" class="border-b text-gray-700">
        <td class="py-2 px-4">{{ expense.id }}</td>
        <td class="py-2 px-4 font-semibold">{{ expense.description }}</td>
        <td class="py-2 px-4">{{ expense.amount | currency }}</td>
        <td class="py-2 px-4">{{ expense.date | date }}</td>
        <td class="py-2 px-4">{{ expense.category }}</td>
        <td class="py-2 px-4">{{ expense.budgetId }}</td>
        <td class="py-2 px-4">
          <button
            class="text-red-500 hover:text-red-600 ml-2"
            (click)="deleteExpense(expense.id)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
